/* font-start */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* font end */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.btn-primary{
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 41px;

}
.btn-primary-2{
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    /* border-radius: 41px; */

}

header{
    padding-top: 90px;
    /* background: url(images/Circle\ design.svg );    
    background-position: right;
    background-repeat: no-repeat;
     */
}
nav{
    width: 80%;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-title h3{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
    
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 34px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    font-weight: 600px;
    text-decoration: none;
    color: #3A3A3A;
}

#banner{
    width: 80%;
    max-width: 1160px;
    margin: 80px auto 100px;
    display: flex;
    gap: 133px;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    /* background: url(images/Circle\ design.svg ); */
    /* background-repeat: no-repeat; */

}

#banner .banner-content h1{
    font-size: 52px;
    font-weight: bold;
    color: #3A3A3A;
    line-height: 70px;
    margin-bottom: 16px;
    
}

#banner .banner-content p{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 16px;

}

#banner .banner-img{            
    background: url(images/Circle\ design.svg );
}

.company{
  width: 80%;
    max-width: 1160px;
  margin: 0 auto;
  justify-content: center;
}

.section-img{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* justify-content: center; */
  justify-items: center;
  margin: 36px 62px;
}

.section-img img{
  width: 55px;
  align-items: center;
  justify-items: center;
}

.company .line{
  color: red;
}

.gadget{
  /* border: 1px solid black; */
  padding: 14px;
  border-radius: 8px;
  box-shadow: 0px 0px 40px #00000020;
}
.gadget img{
  width: 100%;
  padding: 3px 0px 0px 0px ;
  
}

.gadget h3{
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 6px;
}

.gadget .p-1{
  font-size: 24px;
  font-weight: 400;

}
.gadget .p-2{
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  margin-top: 10px;

}
.container{
  width: 80%;
    max-width: 1160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0 auto;
}

.section-heading{
  width: 80%;
    max-width: 1160px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;

}
.section-heading h3{
  font-size: 28px;
  font-weight: 600px;
  line-height: 70px;
}

.heading{
  width: 77%;
  max-width: 1110px;
  margin: 0 auto;
  text-align: end;
  margin-top: 50px;
  /* margin-bottom: 30px; */

}

.heading h3{
  font-size: 16px;
  font-weight: bold;
  color: #E02C6D;
  
}

#featured-section{
  width: 80%;
    max-width: 1160px;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto 0px;
  display: flex;
  
}

.featured-img{
  width: 404px;


}

.featured-content{
  width: 610px;
}

.featured-content h3{
  color: #0A0826;
  font-size: 38px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 16px;
}
.featured-content p{
  width: 501px;
  color: #6C6C6C;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 16px;
}

footer{
  
  background-color: #0A0826;
  margin-top: 100px;
   /* margin: 0 auto; */
   /* justify-content: center; */
   align-items: center;

}
.footer {
  width: 242px;
  margin: 0 auto;
  justify-content: center;

}
.logos{
  width: 242px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.content {
  width: 262px;
   max-width: 1440px; */
   align-items: center;
   justify-content: center;
   text-align: center;
  
}
.content h3{
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding-top: 50px;
}
.content .p-1{
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  /* padding-top: 50px; */
}
.content .p-2{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  padding-bottom: 17px;
}

.footer .logos{
  width: 176px;
  
}

.footer .logos img{
  
  padding-right: 9px;
  margin-bottom: 50px;
}




